*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

html,
body {
  height: 100%;
  /* width: 100%; */
}

body {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem; */
  height: max-content;
  gap: 1.5rem;
  background-color: red;
  flex: 0 1 auto;
}

label,
p,
button {
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  margin: 0 auto;
}

main {
  background-color: blue;
  /* position: absolute; */
  flex: 1 1 auto;
}

.slider-wrapper:nth-child(1) {
    margin-left: 2rem;
}

.random-button {
    margin-right: 2rem;
    padding: 1rem 1.5rem;
}

@media screen and (min-width: 800px) {
  header {
    height: 6rem;
    flex-direction: row;
  }

  .hex-color-code {
    margin: 0;
    margin-left: auto;
  }
}
